db:
  image: postgres
web:
  build: .
  command: python manage.py runserver 0.0.0.0:8000
  volumes:
    - .:/opt/gissmo
  ports:
    - "8000:8000"
  links:
    - db
  environment:
    - DJANGO_SETTINGS_MODULE=gissmo.settings.dev
selenium:
  image: selenium/standalone-firefox
  net: "container:web"
