{% extends "admin/base_site.html" %}
{% load admin_static i18n admin_modify admin_urls %}
{% load static from staticfiles %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block content %}
<p>We offer you two possibilities:
<ul>
  <li>either you enter the Common date and use the checkbox to consider all channels as closed with the Common date</li>
  <li>or you just add a date on channels you want to close.</li>
</ul>
</p>
<hr />
{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
