{% extends "admin/base_site.html" %}
{% load admin_static i18n admin_modify admin_urls %}
{% load static from staticfiles %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block content %}
<hr />
{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tbody>
    {% for fields in form %}
      {% for field in fields %}
        <tr>
          <th>{{ field.label }}:</th>
          <td>
            {{ field }}
          </td>
          <td>
            <a href="#" onclick="spread_date('{{ field.auto_id }}')">Apply to all</a>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
    {{ form.management_form }}
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
