
<fieldset class="module aligned">
  <h2>Current equipments</h2>
   <table>
     <thead><tr>
         <th>Supertype</th>
         <th>Type</th>
         <th>Model</th>
         <th>Serial number</th>
         <th>Last state</th>
         <th>Date (approx.)</th>
         <th>Built</th>
         <th>Note</th>
         <th></th>
     </tr></thead>
     <tbody>
     {% for location in locations %}
        <tr>
        <td class="equip_supertype">
          <p>{{ location.equip.equip_supertype }}</p>
        </td>

        <td class="equip_type">
          <p>{{ location.equip.equip_type }}</p>
        </td>

        <td class="equip_model">
          <p>{{ location.equip.equip_model }}</p>
        </td>

        <td class="equip_model">
          <p>{{ location.equip.serial_number }}</p>
        </td>

        <td class="state">
          <p>{{ location.get_equip_state_display }}</p>
        </td>

        <td class="state">
          <p>{{ location.intervention.intervention_date|date:"Y-m-d H:i:s" }}</p>
        </td>

        <td class="built">
          <p>{{ location.built }}</p>
        </td>

        <td class="note">
          <textarea readonly="readonly" rows="1" cols="40">{{ location.note }}</textarea>
        </td>

        <td class="equipment">
          <a href="{% url url_redirection location.equip.id %}">Edit</a>
        </td>
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>

