{% load i18n %}
<fieldset class="module aligned collapse">
  <h2>{% blocktrans with last_state=intervs.0.get_equip_state_display last_place=intervs.0.station.station_code built=intervs.0.built %}Interventions on equipement. Last state: {{ last_state }}. Last place: {{ last_place }}. Built: {{ built }}{% endblocktrans %}</h2>
   <table>
     <thead><tr>
         <th>{% trans "Action" %}</th>
         <th>{% trans "State" %}</th>
         <th>{% trans "Site" %}</th>
         <th>{% trans "Built" %}</th>
         <th>{% trans "Date and time" %}</th>
         <th>{% trans "Note" %}</th>
         <th></th>
     </tr></thead>
     <tbody>
     {% for interv in intervs %}
        <tr>
        <td class="equip_action">
          <p>{{ interv.get_equip_action_display }}</p>
        </td>

        <td class="equip_state">
          <p>{{ interv.get_equip_state_display }}</p>
        </td>

        <td class="equip_site">
          <p>{{ interv.station }}</p>
        </td>

        <td class="equip_built">
          <p>{{ interv.built }}</p>
        </td>

        <td class="start_date">
          <input readonly="readonly" value="{{ interv.intervention.intervention_date|date:"Y-m-d H:i:s" }}" type="text" size="20" />
        </td>

        <td class="note">
          <textarea readonly="readonly" rows="1" cols="40">{{ interv.note }}</textarea>
        </td>

        <td class="intervention">
          <a href="{% url url_redirection interv.intervention.id %}">{% trans "Edit" %}</a>
        </td>
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>
