
<fieldset class="module aligned collapse">
  <h2>Equipments historiquement présents sur le site</h2>
   <table>
     <thead><tr>
         <th>Supertype</th>
         <th>Type</th>
         <th>Modèle</th>
         <th>No série</th>
         <th>Date début</th>
         <th>Date fin</th>
         <th>Built</th>
         <th></th>
     </tr></thead>
     <tbody>
     {% for location in locations %}
        <tr>
        <td class="equip_supertype">
          <p>{{ location.0.equip_supertype }}</p>
        </td>

        <td class="equip_type">
          <p>{{ location.0.equip_type }}</p>
        </td>

        <td class="equip_model">
          <p>{{ location.0.equip_model }}</p>
        </td>

        <td class="equip_serial_number">
          <p>{{ location.0.serial_number }}</p>
        </td>

        <td class="start_date">
          <input readonly="readonly" value="{{ location.1|date:"Y-m-d H:i:s"}}" type="text" size="20" />
        </td>


        <td class="start_date">
          <input readonly="readonly" value="{{ location.2|date:"Y-m-d H:i:s"}}" type="text" size="20" />
        </td>

        <td class="built">
          <p>{{ location.4 }}</p>
        </td>

        <td class="equipment">
          <a href="{% url url_redirection location.0.id %}">Edit</a>
        </td>
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>



