<h3>By {{ title }}</h3>
<select onchange="window.location=window.location.pathname+this.options[this.selectedIndex].value" style="width:160px">
{% for choice in choices %}
    <option{% if choice.selected %} selected="selected"{% endif %}
     value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
{% endfor %}
</select>

<h3>By {{ title }}</h3>
<ul>
{% for choice in choices %}    
    {% if choice.query_string|slice:":9" == '?' %}<li{% if choice.selected %} class="selected"{% endif %}><a href="{{ choice.query_string|iriencode }}"><h2>{{ choice.display }}</h2></a></li>
    {% elif choice.query_string|slice:":9" == '?cf=Stype' %}<li{% if choice.selected %} class="selected"{% endif %}><a href="{{ choice.query_string|iriencode }}"><h2>{{ choice.display }}</h2></a></li>
    {% elif choice.query_string|slice:":9" == '?cf=Type_' %}<li{% if choice.selected %} class="selected"{% endif %}><a href="{{ choice.query_string|iriencode }}"><h3>{{ choice.display }}</h3></a></li>{% endif %}
{% endfor %}
</ul>
