{% extends "admin/base_site.html" %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=1200, height=800, scrollbars=yes');
return false;
}
//-->
</SCRIPT>

{% load extras %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">Home</a> &rsaquo;</div>
{% endblock %}

{% block title %}Recherche des informations d'une station{% endblock %}

{% block content %}
<div id="content-main">

<html lang="en">
<head>
    <title>Recherche</title>
</head>
<body>
  <h1>Recherche des informations d'une station</h1>
  <form action="." method="GET">
  <TABLE BORDER=0>
  <TR>
	<TD>Station</TD>
	<TD>
        <select name="Station">
        {% if query %}
          <option value="">---------</option>
        {% else %}
          <option value="" selected="selected">---------</option>
        {% endif %}
        
        {% for station in ResStationSite %}
            {% if query == station.station_code %}
            <OPTION VALUE="{{station.station_code}}" selected="selected">{{station.station_code}}</OPTION>
            {% else %}
            <OPTION VALUE="{{station.station_code}}">{{station.station_code}}</OPTION>
            {% endif %}
        {% endfor %}
        </select>
	</TD>
  </TR>
  <TR>
	<TD></TD>
	<TD>
        <input type="submit" value="Rechercher">
        </TD>
  </TR>
  </TABLE>
  </form>

  {% if query %}
    <h2>Résultat pour la station "{{ query|escape }}":</h2>

    {% if ResStation %}

      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Station </CAPTION>
      <TR>
      <TH> Code </TH>
      <TH> Nom </TH>
      <TH> Latitude </TH>
      <TH> Longitude </TH>
      <TH> Elévation </TH>
      <TH> Nom du site </TH>
      <TH> Description </TH>
      <TH> Adresse </TH>
      <TH> Commune </TH>
      <TH> Département </TH>
      <TH> Région </TH>
      <TH> Pays </TH>
      <TH> Code postal </TH>
      <TH> Note </TH>

      </TR>
      <TR>
      {% for station in ResStation %}
      <TR>
        <TD> {{ station.station_code|escape }} </TD>
        <TD> {{ station.station_name|escape }} </TD>
        <TD> {{ station.latitude|escape }} </TD>
        <TD> {{ station.longitude|escape }} </TD>
        <TD> {{ station.elevation|escape }} </TD>
        <TD> {{ station.site_name|escape }} </TD>
        <TD> {{ station.site_description|escape }} </TD>
        <TD> {{ station.address|escape }} </TD>
        <TD> {{ station.city|escape }} </TD>
        <TD> {{ station.department|escape }} </TD>
        <TD> {{ station.region|escape }} </TD>
        <TD> {{ station.country|escape }} </TD>
        <TD> {{ station.zip_code|escape }} </TD>
        <TD> {{ station.note|escape }} </TD>
      </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>

      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Intervenants </CAPTION>
      <TR>
      <TH> Catégorie </TH>
      <TH> Nom </TH>
      <TH> Date début </TH>
      <TH> Note </TH>
      <TH> Type d'acces </TH>
      <TH> Coordonnées </TH>
      </TR>
      <TR>
      {% for stationactor in ResStationActor %}
      <TR>
        <TD> {{ stationactor.actor_type.actor_type_name|escape }} </TD>
        <TD> {{ stationactor.actor.actor_name|escape }} </TD>
        <TD> {{ stationactor.start_date|escape }} </TD>
        <TD> {{ stationactor.note|escape }} </TD>        
        {% assign count 0 %}
        {% for actoraccess in ResActorAccess %}
          {% if actoraccess.actor_id == stationactor.actor_id %}         
            {% ifequal count 0 %}
              {% assign count 1 %} 
              <TD>{{ actoraccess.access_type.access_type_name|escape }}</TD>
              <TD>{{ actoraccess.coordinate|escape }}</TD>
            {% else %}
              <TR>
              <TD colspan=4> </TD>  
              <TD>{{ actoraccess.access_type.access_type_name|escape }}</TD>
              <TD>{{ actoraccess.coordinate|escape }}</TD>
              </TR>
            {% endifequal %}
          {% endif %}
        {% endfor %}
      </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>

      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Etat </CAPTION>
      <TR>
      <TH> Etat </TH>
      <TH> Date début </TH>
      <TH> Note </TH>
      </TR>
      <TR>
      {% for etat in ResStationState %}
      <TR>
        <TD> {{ etat.station_state.station_state_name|escape }} </TD>
        <TD> {{ etat.start_date|escape }} </TD>
        <TD> {{ etat.note|escape }} </TD>
     </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>

      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Caractéristiques </CAPTION>
      <TR>
      <TH> Nom </TH>
      <TH> Valeur </TH>
      <TH> Date début </TH>
      <TH> Note </TH>
      </TR>
      <TR>
      {% for charac in ResStationCharac %}
      <TR>
        <TD> {{ charac.station_charac.station_charac_name|escape }} </TD>
        <TD> {{ charac.station_charac_value.station_charac_value|escape }} </TD>
        <TD> {{ charac.start_date|escape }} </TD>
        <TD> {{ charac.note|escape }} </TD>
     </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>

      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Bati </CAPTION>
      <TR>
      <TH> Categorie </TH>
      <TH> Type </TH>
      <TH> Note </TH>
      </TR>
      <TR>
      {% for bati in ResBati %}
      <TR>
        <TD> {{ bati.built_category.built_category_name|escape }} </TD>
        <TD> {{ bati.built_type.built_type_name|escape }} </TD>
        <TD> {{ bati.built_note|escape }} </TD>
     </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>


      <TABLE BORDER="1" WIDTH=1200>
      <CAPTION> Equipements </CAPTION>
      <TR>
      <TH> Supertype </TH>
      <TH> Type </TH>
      <TH> Modèle </TH>
      <TH> No série </TH>
      <TH> Réseau </TH>
      <TH> Bâti </TH>
      <TH> Modèle de l'hôte</TH>
      <TH> No série de l'hôte</TH>
      <TH> Date début </TH>
      <TH> Note </TH>
      </TR>

      <TR>
      {% for equip in ResStationEquip %}
      <TR>
        <TD> {{ equip.equip_model.equip_type.equip_supertype.equip_supertype_name|escape }} </TD>
        <TD> {{ equip.equip_model.equip_type.equip_type_name|escape }} </TD>
        <TD> {{ equip.equip.equip_model.equip_model_name|escape }} </TD>
        <TD> {{ equip.equip.serial_number|escape }} </TD>
        <TD> {{ equip.network.network_name|escape }} </TD>
        <TD> {{ equip.built.built_type.built_type_name|escape }} </TD>
        <TD> {{ equip.host_equipment.equip_model.equip_model_name|escape }} </TD>
        <TD> {{ equip.host_equipment.serial_number|escape }} </TD>
        <TD> {{ equip.start_date|escape }} </TD>
        <TD> {{ equip.note|escape }} </TD>
     </TR>
      {% endfor %}
      </TR>
      </TABLE> 
      <BR>

    {% else %}
      <p>Aucune station trouvée</p>
    {% endif %}
  {% else %}
    <p>Aucun critère de recherche inscrit</p>
  {% endif %}

  <BR>
  <input type=button onclick="window.print()" value='Imprimer cette page'> 

</body>
</html>


</div>
{% endblock %}

