<fieldset class="module aligned {{ collapse }}">
  {% if collapse %}
  <h2>All interventions</h2>
  {% else %}
  <h2>Last 3 interventions</h2>
  {% endif %}
   <table>
     <thead><tr>
         <th>Date and time</th>
         <th>Note</th>
         <th>Operators</th>
         <th>Action</th>
         <th>Status</th>
         <th>Note</th>
         <th>Equipment</th>
         <th>Place</th>
     </tr></thead>
     <tbody>
     {% for interv, protagonists, stationaction, equipaction, countaction in intervs %}
        <tr>
        <td rowspan={{countaction}} class="start_date">
          <input readonly="readonly" value="{{ interv.intervention_date|date:"Y-m-d H:i:s" }}" type="text" size="20" />
        </td>

        <td rowspan={{countaction}} class="note">
          <textarea readonly="readonly" rows="1" cols="20">{{ interv.note }}</textarea>
        </td>

        <td rowspan={{countaction}}  class="intervenant">
          <textarea readonly="readonly" rows="1" cols="20">{{ protagonists }}</textarea>
        </td>

        {% for action in stationaction %}{% if forloop.first %}
        <td class="station_action">
          <input readonly="readonly" value="{{ action.get_station_action_display }}"/>
        </td>
        <td class="station_state">
          <input readonly="readonly" value="{{ action.get_station_state_display }}"/>
        </td>
        <td class="station_note">
          <textarea readonly="readonly" rows="1" cols="20">{{ action.note }}</textarea>
        </td>
        </tr>
        {% else %}
        <tr>
        <td class="station_action">
          <input readonly="readonly" value="{{ action.get_station_action_display }}"/>
        <td class="station_state">
          <input readonly="readonly" value="{{ action.get_station_state_display }}"/>
        </td>
        <td class="station_note">
          <textarea readonly="readonly" rows="1" cols="20">{{ action.note }}</textarea>
        </td>
        </tr>
        {% endif %}
        {% endfor %}

        {% for equip_action in equipaction %}{% if forloop.first %}
        <td class="equip_action">
          <input readonly="readonly" value="{{ equip_action.get_equip_action_display }}"/>
        </td>
        <td class="equip_state">
          <input readonly="readonly" value="{{ equip_action.get_equip_state_display }}"/>
        </td>
        <td class="equip_note">
          <textarea readonly="readonly" rows="1" cols="20">{{ equip_action.note }}</textarea>
        </td>
        <td class="equip_equipment">
          <input readonly="readonly" size="40" value="{{ equip_action.equip }}"/>
        </td>
        <td class="equip_built">
          <input readonly="readonly" value="{{ equip_action.built }}"/>
        </td>
        </tr>
        {% else %}
        <tr>
        <td class="equip_action">
          <input readonly="readonly" value="{{ equip_action.get_equip_action_display }}"/>
        </td>
        <td class="equip_state">
          <input readonly="readonly" value="{{ equip_action.get_equip_state_display }}"/>
        <td class="equip_note">
          <textarea readonly="readonly" rows="1" cols="20">{{ equip_action.note }}</textarea>
        </td>
        <td class="equip_equipment">
          <input readonly="readonly" size="40" value="{{ equip_action.equip }}"/>
        </td>
        <td class="equip_built">
          <input readonly="readonly" value="{{ equip_action.built }}"/>
        </td>
        </tr>
        {% endif %}
        {% endfor %}
        <td colspan=8 class="intervention">
          <a href="{% url url_redirection interv.id %}">Edit</a>
        </td>
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>

