{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' application_label %}">{% trans application_label %}</a> &rsaquo;
        <a href="{% url 'admin:gissmo_stationsite_changelist' %}">{% trans 'A1. Sites' %}</a> &rsaquo;
        {% if StationUnique %}
          <a href="{% url 'admin:gissmo_stationsite_change' StationUnique.id %}">{{StationUnique.station_code}}</a> &rsaquo;
        {% endif %}
        Carte des stations
    </div>
{% endblock %}

{% block title %}Recherche des informations de la construction RESIF{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>

<script type="text/javascript"
    src="http://maps.google.fr/maps/api/js?sensor=false">
</script>

<script type="text/javascript">

  var map;
  var marker;
  var url = [];
  var classe_a = 0;
  var information = [];
  var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
    '<div id="bodyContent">'+
    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
    'sandstone rock formation in the southern part of the '+
    'Northern Territory, central Australia. It lies 335 km (208 mi) '+
    'south west of the nearest large town, Alice Springs; 450 km '+
    '(280 mi) by road. Kata Tjuta and Uluru are the two major '+
    'features of the Uluru - Kata Tjuta National Park. Uluru is '+
    'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
    'Aboriginal people of the area. It has many springs, waterholes, '+
    'rock caves and ancient paintings. Uluru is listed as a World '+
    'Heritage Site.</p>'+
    '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
    'http://en.wikipedia.org/w/index.php?title=Uluru</a> (last visited June 22, 2009).</p>'+
    '</div>'+
    '</div>';

  
  var sites = [];

  {% for i in ResHistStations %}
      {% if i.intervention.station.latitude != None and i.intervention.station.longitude != None %}
          {% if i.intervention.station.station_code == StationUnique.station_code %}
            sites.push(["{{i.intervention.station.station_name}}", {{i.intervention.station.latitude}}, {{i.intervention.station.longitude}}, {{i.station_state}}, 0]);
          {% else %}
            sites.push(["{{i.intervention.station.station_name}}", {{i.intervention.station.latitude}}, {{i.intervention.station.longitude}}, {{i.station_state}}, 1]);
          {% endif %}
          url.push({% url 'admin:index' %} + "gissmo/stationsite/" + {{i.intervention.station.id}} + "/");
          information.push("{{i.intervention.station.station_code}}");    
      {% endif %}
  {% endfor %}

  {% for j in ResStatTheo %}
      {% if j.latitude != None and j.longitude != None %}
          sites.push(["{{j.station_name}}", {{j.latitude}}, {{j.longitude}}, 'Theo', 1]);
          url.push({% url 'admin:index' %} + "gissmo/stationsite/" + {{j.id}} + "/");
          information.push("{{j.station_code}}");    
      {% endif %}
  {% endfor %}

  {% for k in ResStatTest %}
      {% if k.latitude != None and k.longitude != None %}
          test = sites.push(["{{k.station_name}}", {{k.latitude}}, {{k.longitude}}, 'Test', 1]);
          url.push({% url 'admin:index' %} + "gissmo/stationsite/" + {{k.id}} + "/");
          information.push("{{k.station_code}} : Site référant : {{k.station_parent.station_code}}");
      {% endif %}
  {% endfor %}

  function initialize() {

    var vesdun = new google.maps.LatLng(46.539722, 2.430278);
    var myOptions = {
      zoom: 6,
      center: vesdun,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
   /**
    var kml33 = new GGeoXml('/media/01.kml'); 
    map.addOverlay(kml33); 
 
    var ctaLayer = new google.maps.KmlLayer('http://gmaps-samples.googlecode.com/svn/trunk/ggeoxml/cta.kml');
    ctaLayer.setMap(map);
   */
    setMarkers(map, sites);
  }

  /**
   * Data for the markers consisting of a name, a LatLng and a zIndex for
   * the order in which these markers should display on top of each
   * other.
   */


  function setMarkers(map, locations) {

    var markers =[]

    for (var i = 0; i < locations.length; i++) {
      var station = locations[i];

      switch (station[3])
      {
      case 'Theo':
      /** Site theorique */
          {image = '{{ STATIC_URL }}img/placemark_square.png'};
          {label = 'T'};
          break;
      case 'Test':
      /** Site de test */
          {image = '{{ STATIC_URL }}img/placemark_square_highlight.png'};
          break;
      case 6:
      /** Autre */
          {image = '{{ STATIC_URL }}img/feu_orange.png'};
          break;
      case 5:
      /** Fermee */
          {image = '{{ STATIC_URL }}img/feu_bleu.png'};
          break;
      case 4:
      /** En panne */
          {image = '{{ STATIC_URL }}img/feu_rouge.png'};
          break;
      case 3:
      /** En defaillance */
          {image = '{{ STATIC_URL }}img/feu_jaune.png'}
          break;
      /** En operation */
      case 2:
          {image = "{{ STATIC_URL }}img/feu_vert.png"}
          break;
      /** En installation */
      case 1:
          {image = '{{ STATIC_URL }}img/feu_blanc.png'}
          break;
      /** Observatoires - classification inconue */
      default:   
          {image = ''}
      }
/**
      if (station[0] == 'EOST' || station[0] == 'IPGP' || station[0] == 'OCA' || station[0] == 'OMP' || station[0] == 'OPGC' || station[0] == 'ISTERRE' || station[0] == 'OSUNA' || station[0] == 'OREME')
          {image = ''}
*/
      var myLatLng = new google.maps.LatLng(station[1], station[2]);

          marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image,
          title : station[0]
      });

      switch (station[4])
      {
      case 0:
          marker.setAnimation(move = google.maps.Animation.BOUNCE)
          break;
      }

      attachURL(marker, i);

      //google.maps.event.addListener(marker, 'click', toggleBounce);

    }
  }

  function attachURL(marker, number) {
    var infowindow = new google.maps.InfoWindow(
        { content: information[number]
        });

    google.maps.event.addListener(marker, 'mouseover', function() {
      infowindow.open(map,marker);
    });

    google.maps.event.addListener(marker, 'mouseout', function() {
      infowindow.close(map,marker);
    });

    google.maps.event.addListener(marker, 'dblclick', function() {
      window.location.href = url[number];
    });
  }

  function toggleBounce() {
    if (this.getAnimation() != null) {
      this.setAnimation(null);
    } else {
      this.setAnimation(google.maps.Animation.BOUNCE);
    }
  }

  function denombre_station(a) {
    var classe_b = 0;
    for (var i = 0; i < sites.length; i++) {
      station = sites[i];
      switch (station[3])
      {
      case a:
      /** Stations RLBP - Classification A */
          classe_b = classe_b + 1;
          break;
      default:   
      }
    }
    return classe_b;
  } 

</script>

</head>
<body onload="initialize()">
  <div id="map_canvas" style="position: absolute; left:0%; width:50%; height:800px"></div>
  <div style="position: absolute; left:55%; width:25%; height:100%">Légende
  <table border="1">
      <tr><td><img src="{{ STATIC_URL }}img/feu_blanc.png"/></td><td>En installation</td><td><script type="text/javascript">document.write(denombre_station(1))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/feu_vert.png"/></td><td>En opération</td><td><script type="text/javascript">document.write(denombre_station(2))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/feu_jaune.png"/></td><td>En défaillance</td><td><script type="text/javascript">document.write(denombre_station(3))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/feu_rouge.png"/></td><td>En panne</td><td><script type="text/javascript">document.write(denombre_station(4))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/feu_bleu.png"/></td><td>Fermée</td><td><script type="text/javascript">document.write(denombre_station(5))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/feu_orange.png"/></td><td>Autre</td><td><script type="text/javascript">document.write(denombre_station(6))</script></td></tr>
      <tr><td></td><td>Total</td><td><script type="text/javascript">document.write(denombre_station(1)+denombre_station(2)+denombre_station(3)+denombre_station(4)+denombre_station(5)+denombre_station(6))</script></td></tr>
  </table><br></br>
  <table border="1">
      <tr><td><img src="{{ STATIC_URL }}img/placemark_square.png"/></td><td>Site Théorique</td><td><script type="text/javascript">document.write(denombre_station('Theo'))</script></td></tr>
      <tr><td><img src="{{ STATIC_URL }}img/placemark_square_highlight.png"/></td><td>Site de test</td><td><script type="text/javascript">document.write(denombre_station('Test'))</script></td></tr>
  </table><br></br>
</div>
</body>
</html>
{% endblock %}
