{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_static %}

{% block content %}
<style>
tr.neutral  { color: black; }
tr.valid    { color: darkgreen; }
tr.conflict { color: red; }
tr.new      { color: blue; }
tr.missing  { color: lightcoral; }
</style>
{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}
<h3>{% trans "Impacted channel" %}</h3>
<p>{% trans "Here you can see the difference between old equipment's model parameters and new ones." %}</p>
<ul>
{% for channel in elements %}
  <li>{{ channel.0 }}<table>
    <tr>
      <th>{% trans "Parameter" %}</th>
      <th>{% trans "Current" %}</th>
      <th>{% trans "New" %}</th>
      <th>{% trans "State" %}</th>
    </tr>
      {% for modification in channel.1 %}
      <tr class="{{ modification.state }}">
        <td>{{ modification.name }}</td>
        <td>{{ modification.old_value }}</td>
        <td>{{ modification.new_value }}</td>
        <td>{{ modification.state }}</td>
      </tr>
      {% endfor %}
    </table>
  </li>
{% endfor %}
</ul>

<h3>Legend</h3>
<table>
  <tr>
    <th>{% trans "State" %}</th>
    <th>{% trans "Signification" %}</th>
  </tr>
  <tr class="neutral">
    <td>neutral</td>
    <td>{% trans "We keep the old value. New default one is equal." %}</td>
  </tr>
  <tr class="valid">
    <td>valid</td>
    <td>{% trans "We keep the old value. This one is available in available new values." %}</td>
  </tr>
  <tr class="conflict">
    <td>conflict</td>
    <td>{% trans "New value needed as the old one is not available in new values!" %}</td>
  </tr>
  <tr class="new">
    <td>new</td>
    <td>{% trans "We will create a new parameter with a new default value. Execpt if you exclude it." %}</td>
  </tr>
  <tr class="missing">
    <td>missing</td>
    <td>{% trans "We will discard this parameter. Except you include it." %}</td>
  </tr>
</table>

{% endblock %}
