{% extends "admin/base_site.html" %}

{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">Home</a> &rsaquo;</div>
{% endblock %}

{% block title %}Recherche des informations de la construction RESIF{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>

<script type="text/javascript"
    src="http://maps.google.fr/maps/api/js?sensor=false">
</script>

<script type="text/javascript">

  var map;
  var marker;
  var url = [];
  var classe_a = 0;
  var information = [];
  var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
    '<div id="bodyContent">'+
    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
    'sandstone rock formation in the southern part of the '+
    'Northern Territory, central Australia. It lies 335 km (208 mi) '+
    'south west of the nearest large town, Alice Springs; 450 km '+
    '(280 mi) by road. Kata Tjuta and Uluru are the two major '+
    'features of the Uluru - Kata Tjuta National Park. Uluru is '+
    'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
    'Aboriginal people of the area. It has many springs, waterholes, '+
    'rock caves and ancient paintings. Uluru is listed as a World '+
    'Heritage Site.</p>'+
    '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
    'http://en.wikipedia.org/w/index.php?title=Uluru</a> (last visited June 22, 2009).</p>'+
    '</div>'+
    '</div>';

  
  var sites = [];
  var stations = [];

  {% for i in ResSite %}
    sites.push(["{{i.station_code}}", {{i.latitude}}, {{i.longitude}}, 0]);
    url.push("/admin/bdmateriel/stationsite/" + {{i.id}} + "/");
    information.push("{{i.station_code}}");
  {% endfor %}

  {% for i in ResStationSite %}
    sites.push(["{{i.station_code}}", {{i.latitude}}, {{i.longitude}}, 1]);
    url.push("/admin/bdmateriel/stationsite/" + {{i.id}} + "/");
    information.push("{{i.station_name}}");
  {% endfor %}
  
  {% for i in ResHistStations %}
    sites.push(["{{i.station.station_code}}", {{i.station.latitude}}, {{i.station.longitude}}, {{i.station_state.id}}]);
    url.push("/admin/bdmateriel/stationsite/" + {{i.station.id}} + "/");
    information.push("{{i.station.station_name}}");
  {% endfor %}


  function initialize() {
    var vesdun = new google.maps.LatLng(46.539722, 2.430278);
    var myOptions = {
      zoom: 6,
      center: vesdun,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
   /**
    var kml33 = new GGeoXml('/media/01.kml'); 
    map.addOverlay(kml33); 
 
    var ctaLayer = new google.maps.KmlLayer('http://gmaps-samples.googlecode.com/svn/trunk/ggeoxml/cta.kml');
    ctaLayer.setMap(map);
   */
    setMarkers(map, sites);  
  }

  /**
   * Data for the markers consisting of a name, a LatLng and a zIndex for
   * the order in which these markers should display on top of each
   * other.
   */


  function setMarkers(map, locations) {

    for (var i = 0; i < locations.length; i++) {
      var station = locations[i];

      switch (station[3])
      {
      case 6:
      /** Classification B a construire */
          {image = '/static/feu_orange.png'};
          break;
      case 5:
      /** Classification B en operation */
          {image = '/static/feu_bleu.png'};
          break;
      case 4:
      /** Classification A a construire */
          {image = '/static/feu_jaune.png'};
          break;
      case 3:
      /** Classification A en operation */
          {image = '/static/feu_blanc.png'}
          break;
      /** Classification A+ a construire */
      case 2:
          {image = '/static/feu_rouge.png'}
          break;
      /** Classification A+ en operation  */
      case 1:
          {image = '/static/feu_vert.png'}
          break;
      /** Observatoires - classification inconue */
      default:   
          {image = ''}
      }
/**
      if (station[0] == 'EOST' || station[0] == 'IPGP' || station[0] == 'OCA' || station[0] == 'OMP' || station[0] == 'OPGC' || station[0] == 'ISTERRE' || station[0] == 'OSUNA' || station[0] == 'OREME')
          {image = ''}
*/
      var myLatLng = new google.maps.LatLng(station[1], station[2]);
          marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image,
          title : station[0]
      });

      attachURL(marker, i);

      //google.maps.event.addListener(marker, 'click', toggleBounce);

    }
  }

  function attachURL(marker, number) {
    var infowindow = new google.maps.InfoWindow(
        { content: information[number]
        });

    google.maps.event.addListener(marker, 'mouseover', function() {
      infowindow.open(map,marker);
    });

    google.maps.event.addListener(marker, 'mouseout', function() {
      infowindow.close(map,marker);
    });

    google.maps.event.addListener(marker, 'dblclick', function() {
      window.location.href = url[number];
    });
  }

  function toggleBounce() {
    if (this.getAnimation() != null) {
      this.setAnimation(null);
    } else {
      this.setAnimation(google.maps.Animation.BOUNCE);
    }
  }

  function denombre_station(a) {
    var classe_b = 0;
    for (var i = 0; i < sites.length; i++) {
      station = sites[i];
      switch (station[3])
      {
      case a:
      /** Stations RLBP - Classification A */
          classe_b = classe_b + 1;
          break;
      default:   
      }
    }
    return classe_b;
  } 


</script>

</head>
<body onload="initialize()">
  <div id="map_canvas" style="position: absolute; left:0%; width:50%; height:800px"></div>
  <div style="position: absolute; left:55%; width:25%; height:100%">Légende
  <table border="1">
      {% for state in ResState %}
          {% if state.id == 1 %}
             <tr><td><img src="/static/feu_vert.png"/></td><td>{{state.station_state_name}}</td><td><script type="text/javascript">document.write(denombre_station(1))</script></td></tr>
          {% endif %}
          {% if state.id == 2 %}
             <tr><td><img src="/static/feu_rouge.png"/></td><td>{{state.station_state_name}}</td><td><script type="text/javascript">document.write(denombre_station(2))</script></td></tr>
          {% endif %}
          {% if state.id == 3 %}
             <tr><td><img src="/static/feu_blanc.png"/></td><td>{{state.station_state_name}}</td><td><script type="text/javascript">document.write(denombre_station(3))</script></td></tr>
          {% endif %}
          {% if state.id == 4 %}
             <tr><td><img src="/static/feu_jaune.png"/></td><td>{{state.station_state_name}}</td><td><script type="text/javascript">document.write(denombre_station(4))</script></td></tr>
          {% endif %}
      {% endfor %}
      <tr><td></td><td>Total</td><td><script type="text/javascript">document.write(sites.length)</script></td></tr>
  </table><br></br>
  <form action="." method="GET">
  <TABLE BORDER=0>
  <TR>
	<TD>Date désirée</TD>
	<TD>
          <input id="date" type="text" class="vDateField" name="date" size="10" />
	</TD>
  </TR>
  <TR>
	<TD></TD>
	<TD>
        <input type="submit" value="Actualiser">
        </TD>
  </TR>
  </TABLE>
  </form>
</div>
</body>
</html>
{% endblock %}
