{% load url from future %}

<fieldset class="module aligned collapse">
  <h2>Canaux du site</h2>
   <table>
     <thead><tr>
         <th>Réseau</th>
         <th>Location code</th>
         <th>Code du canal</th>
         <th>Latitude</th>
         <th>Longitude</th>
         <th>Elevation</th>
         <th>Profondeur</th>
         <th>Azimut</th>
         <th>Inclinaison</th>
         <th>Fréquence</th>
         <th>Date début</th>
         <th>Date fin</th>
         <th>Chaîne acquisition</th>
         <th></th>
     </tr></thead>
     <tbody>
     {% for channel, equipment in channels %}
        <tr>
        <td class="location_code">
          <p>{{ channel.network }}</p>
        </td>

        <td class="location_code">
          <p>{{ channel.location_code }}</p>
        </td>

        <td class="channel_code">
          <p>{{ channel.channel_code }}</p>
        </td>

        <td class="channel_latitude">
          <p>{{ channel.latitude }}</p>
        </td>

        <td class="channel_longitude">
          <p>{{ channel.longitude }}</p>
        </td>

        <td class="channel_elevation">
          <p>{{ channel.elevation }}</p>
        </td>

        <td class="channel_depth">
          <p>{{ channel.depth }}</p>
        </td>

        <td class="channel_azimuth">
          <p>{{ channel.azimuth }}</p>
        </td>

        <td class="channel_dip">
          <p>{{ channel.dip }}</p>
        </td>

        <td class="channel_sample_rate">
          <p>{{ channel.sample_rate }}</p>
        </td>

        <td class="channel_start_date">
          <input readonly="readonly" value="{{ channel.start_date|date:"Y-m-d H:i:s" }}" type="text" size="20" />
        </td>

        <td class="channel_end_date">
          <input readonly="readonly" value="{{ channel.end_date|date:"Y-m-d H:i:s" }}" type="text" size="20" />
        </td>

        <td class="acquisition_chain">
          <textarea readonly="readonly" rows="1" cols="40">{% for equip in equipment %}{{ equip }}{% if forloop.last %}.{% else %},&#13;{% endif %}{% endfor %}</textarea>
        </td>

        <td class="configuration">
          <a href="{% url 'admin:bdmateriel_channel_change' channel.id %}">Edit</a>
        </td>

        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>



