{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load example_tags %}

{% block object-tools-items %}
  <li><a href="{% url 'admin:bdmateriel_intervention_add' %}?station={{ object_id }}">Add intervention</a>
  <li><a href="{% url 'itineraire_maps' %}?Station={{ object_id }}">Itinéraire</a></li>
  <li><a href="{% url 'site_maps' %}?Station={{ object_id }}">Carte des stations</a></li>
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}
{% if object_id %}{% display_station_interventions object_id %}{% endif %}

{% if object_id %}{% display_equip_last_location object_id %}{% endif %}

{% if object_id %}{% display_hist_equip_station object_id %}{% endif %}
{% endblock %}

